
<div class="mb-5">
  <app-menu></app-menu>
</div>
<div class="texto-pequeño">
  <h1>MyFQController</h1>
</div>
<main class="row  pb-5 container overflow-auto" >

  <div class="col"></div>
  <div class="col-lg-8 col-md-12">
    <p-card>
      <p-tabView>
        <p-tabPanel header="Tratamiento" [scrollLeft]="true">
          <ul>
            <li *ngFor="let tratamiento of this.tratamientos"> {{tratamiento.fecha.toString().substring(0,10)}} : {{tratamiento.descripcion}} <a *ngIf="tratamiento.archivo" href="http://localhost:8080/api/v1/uploads/img/{{tratamiento.archivo}}" target="_blank">Ver informe</a></li>
          </ul>
          <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple
            label="Añadir nueva medicación" (click)="mostrarFormTratamiento()"></button>
        </p-tabPanel>
        <p-tabPanel header="Eventos">
          <ul>
            <li *ngFor="let evento of this.eventos">{{evento.fecha.toString().substring(0,10)}} : {{evento.descripcion}}</li>
          </ul>
          <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple
            label="Nuevo evento" (click)="mostrarFormEvento()"></button>
        </p-tabPanel>
        <p-tabPanel header="Historia">
         <ul>
          <li *ngFor="let antecedente of this.antecedentes">{{antecedente.fecha.toString().substring(0,10)}} : {{antecedente.diagnostico}}</li>
         </ul>
          <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple
            label="Añadir datos" (click)="mostrarFormHistoria()"></button>
        </p-tabPanel>
        <p-tabPanel header="Analíticas">
         <ul>
          <li *ngFor="let analitica of this.analiticas">{{analitica.fecha.toString().substring(0,10)}} : {{analitica.tipo}} <a *ngIf="analitica.archivo"  href="http://localhost:8080/api/v1/uploads/img/{{analitica.archivo}}"
            target="_blank">Ver Analitica</a></li>
         </ul>
          <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple
            label="Añadir datos" (click)="mostrarFormAnalitica()"></button>
        </p-tabPanel>
        <p-tabPanel header="Ciclos Antibioticos">
          <ul>
            <li *ngFor="let ciclo of this.ciclos">{{ciclo.fechaInicio.toString().substring(0,10)}}/{{ciclo.fechaFin.toString().substring(0,10)}} : {{ciclo.antibiotico}}
            </li>
          </ul>
          <button class="boton mt-2" styleClass="p-button-sm " type="button" pButton pRipple label="Añadir datos"
            (click)="mostrarFormCiclos()"></button>
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
  <div class="col"></div>
</main>
<!--Formulario tratamientos-->
<p-dialog [visible]=" mostrarFormTratamientos" [closable]="false" [maximizable]="true" header="Registro tratamiento"
  [style]="{width: '30vw', height:'auto'}">
  <ng-template pTemplate="body">
    <form autocomplete="off" (ngSubmit)="addRegistroTratamientos()" [formGroup]="formTratamientos">
      <div class="d-grid gap-3">

        <div class="field col-12 md:col-4">
          <p-calendar inputId="basic" formControlName="fecha" appendTo="body" placeholder="Fecha"></p-calendar>
        </div>
        <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="descripcion" placeholder="descripción"></textarea>
        <div class="input-group">
          <label class="input-group-text bg-warning" for="inputFoto">Archivo</label>
          <input (change)="seleccionarArchivo($event)" type="file" class="form-control" id="inputFoto"
            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
        </div>
        <p-selectButton [options]="oralOption" formControlName="oral"  optionLabel="name"
          optionValue="value"></p-selectButton>
        <div d-flex>
          <button pButton type="submit" label="Añadir" pRipple class="boton mx-3"></button>
          <button pButton type="button" label="Cerrar" pRipple class="p-button-text" (click)="cerrarDialogoTratamientos()"></button>
        </div>
      </div>
    </form>
  </ng-template>
<!--Formulario eventos-->
</p-dialog>

<p-dialog [visible]=" mostrarFormEventos" [closable]="false" [maximizable]="true" header="Registro Evento"
  [style]="{width: '30vw', height:'auto'}">
  <ng-template pTemplate="body">
    <form autocomplete="off" (ngSubmit)="addRegistroEventos()" [formGroup]="formEventos">
      <div class="d-grid gap-3">

        <div class="field col-12 md:col-4">
          <p-calendar inputId="basic" formControlName="fecha" appendTo="body" placeholder="Fecha"></p-calendar>
        </div>
        <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="descripcion"
          placeholder="descripción"></textarea>


          <p-badge [value]="this.formEventos.value.importancia ? this.formEventos.value.importancia:'0'" size="xlarge" severity="success" *ngIf="this.formEventos.value.importancia <= 2"></p-badge>
          <p-badge [value]="this.formEventos.value.importancia" size="xlarge" severity="warning"
            *ngIf="this.formEventos.value.importancia > 2 && this.formEventos.value.importancia <=6 "></p-badge>
            <p-badge [value]="this.formEventos.value.importancia" size="xlarge" severity="danger"
              *ngIf="this.formEventos.value.importancia > 6"></p-badge>
        <p-slider formControlName="importancia" [min]="0" [max]="10" id="slider"></p-slider>

        <div d-flex>
          <button pButton type="submit" label="Añadir" pRipple class="boton mx-3"></button>
          <button pButton type="button" label="Cerrar" pRipple class="p-button-text" (click)="cerrarDialogosEventos()"></button>
        </div>
      </div>
    </form>
  </ng-template>

</p-dialog>
<!--Formulario historial/antecendentes-->
<p-dialog [visible]="mostrarFormHistorias" [closable]="false" [maximizable]="true" header="Registro Antecedente"
  [style]="{width: '30vw', height:'auto'}">
  <ng-template pTemplate="body">
    <form autocomplete="off" (ngSubmit)="addRegistroHistoria()" [formGroup]="formHistoria">
      <div class="d-grid gap-3">

        <div class="field col-12 md:col-4">
          <p-calendar inputId="basic" formControlName="fecha" appendTo="body" placeholder="Fecha"></p-calendar>
        </div>
        <textarea [rows]="5" [cols]="30" pInputTextarea formControlName="diagnostico"
          placeholder="Diagnostico"></textarea>
        <div d-flex>
          <button pButton type="submit" label="Añadir" pRipple class="boton mx-3"></button>
          <button pButton type="button" label="Cerrar" pRipple class="p-button-text"
            (click)="cerrarDialogoHistoria()"></button>
        </div>
      </div>
    </form>
  </ng-template>

</p-dialog>
<!--Formulario Analiticas-->
<p-dialog [visible]="mostrarFormAnaliticas" [closable]="false" [maximizable]="true" header="Registro Analitica"
  [style]="{width: '30vw', height:'auto'}">
  <ng-template pTemplate="body">
    <form autocomplete="off" (ngSubmit)="addRegistroAnalitica()" [formGroup]="formAnalitica">
      <div class="d-grid gap-3">
        <div class="field col-12 md:col-4">
          <p-calendar inputId="basic" formControlName="fecha" appendTo="body" placeholder="Fecha"></p-calendar>
        </div>
        <input pInputText type="text" formControlName="tipo" placeholder="Tipo" />
        <!-- <input pInputText type="file" formControlName="archivo" placeholder="Ruta Archivo" /> -->
        <div d-flex>
          <div class="input-group">
            <label class="input-group-text bg-warning" for="inputFoto">Archivo</label>
            <input (change)="seleccionarArchivo($event)" type="file" class="form-control" id="inputFoto"
              aria-describedby="inputGroupFileAddon04"  aria-label="Upload">

          </div>
          <button pButton type="submit" label="Añadir" pRipple class="boton mx-3"></button>
          <button pButton type="button" label="Cerrar" pRipple class="p-button-text"
            (click)="cerrarDialogoAnaliticas()"></button>
        </div>
      </div>
    </form>
  </ng-template>
 <!--Formulario Ciclos antibioticos-->
</p-dialog>
<p-dialog [visible]="mostrarCiclos" [closable]="false" [maximizable]="true" header="Ciclos Antibióticos"
  [style]="{width: '30vw', height:'auto'}">
  <ng-template pTemplate="body">
    <form autocomplete="off" (ngSubmit)="addRegistroCiclo()" [formGroup]="formCiclos">
      <div class="d-grid gap-3">
        <input pInputText type="text" formControlName="antibiotico" placeholder="Antibiótico" />
        <label for="intravenoso">Es Intravenoso:</label>
        <p-selectButton [options]="intravenosoOptions" formControlName="intravenoso" optionLabel="name" optionValue="value"></p-selectButton>

        <div class="field col-12 md:col-4">
          <p-calendar class="mx-3" inputId="basic" formControlName="fechaInicio" appendTo="body" placeholder="FechaInicio"></p-calendar>
          <p-calendar inputId="basic" formControlName="fechaFin" appendTo="body" placeholder="FechaFin"></p-calendar>
        </div>
        <div d-flex>
          <button pButton type="submit" label="Añadir" pRipple class="boton mx-3"></button>
          <button pButton type="button" label="Cerrar" pRipple class="p-button-text"
            (click)="cerrarDialogoCiclos()"></button>
        </div>
      </div>
    </form>
  </ng-template>

</p-dialog>


<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>

